# Copia este archivo como .env y rellena con tus datos de Spotify Developer Dashboard
# https://developer.spotify.com/dashboard

VITE_SPOTIFY_CLIENT_ID=defacee66b114f33b6b2d2c76b46722c
VITE_SPOTIFY_CLIENT_SECRET=ce030db72a3a425483cb5e27077614c5
